<mat-toolbar color="gray">
  <header>
    <nav class="menu">
      <div class="button-panel">

        <a class = "tab-link is-active-tab" routerLink="/clients" routerLinkActive="active">CLIENTS</a>
        <a class = "tab-link" routerLink="/product" routerLinkActive="active">PRODUCT</a>

        <a class = "tab-link" routerLink="/case" routerLinkActive="active">CASE</a>
        <a class = "tab-link" routerLink="/cpu" routerLinkActive="active">CPU</a>
        <a class = "tab-link" routerLink="/memory" routerLinkActive="active">MEMORY</a>
        <a class = "tab-link" routerLink="/motherboard" routerLinkActive="active">MOTHERBOARD</a>
        <a class = "tab-link" routerLink="/power-supply" routerLinkActive="active">POWER SUPPLY</a>
        <a class = "tab-link" routerLink="/ssd" routerLinkActive="active">SSD</a>
        <a class = "tab-link" routerLink="/video" routerLinkActive="active">VIDEO CARDS</a>
      </div>
    </nav>
  </header>
</mat-toolbar>
<router-outlet>
</router-outlet>


